.container {
    gap: 25px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

svg {
    height: 20px;
    width: 20px;
}

img {
    width: 200px;
    height: 200px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 10px;
}

h5 {
    font-weight: bold;
}

.description {
    flex: 2;
}

.steps-ing {
    flex: 4;  
    justify-content: flex-start;
    gap: 5px;
}

.time {
    display: flex;
    justify-content: center;
}

.item {
    width: 60%;
}