.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

img {
    min-height: 100px;
    max-height: 30vh;
    max-width: 60vw;
    opacity: 0.949999988079071;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.116), 0px 6px 10px 4px rgba(0, 0, 0, 0.116);
}

.spread-out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #50A4A4;
    border-radius: 100px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.filled-heart {
    fill: #50A4A4;
}

svg {
    height: 45px;
    width: 45px;
    fill: rgba(0, 0, 0, 0.705);
}

svg:hover {
    cursor: pointer;
    border-bottom: solid rgba(85, 85, 85, 0.705) 2px;
}

mat-accordion {
    padding-bottom: 6px;
    width: 60vw;
    min-width: 150px;
}

.img-subtitle {
    gap: 8px;
}

button {
    border-radius: 3px;
    width: 100%;
    margin: 2px;
}

.buttons-container {
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.buttons-container > div {
    flex: 1;
}

.buttons-container div:nth-child(2) {
    min-width: 50%;
}

@media screen and (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    mat-accordion {
        min-width: 300px;
        width: 30vw;
    }

    img {
        max-height: 60vh;
        width: 90%;
    }
}