.recipes {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.title {
    text-align: center;
}

.container-title {
    padding: 20px 0px 0px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
    
.text {
    color: #49454F;
}