<div class="main-container">
  <div class="homepage-row">
    <div class="content-container">
      <app-ingredients-list [ingredientList]="ingredientList"></app-ingredients-list>
    </div>
    <div class="wide-container tip-featured">
      <div>
        <app-featured-meal></app-featured-meal>
      </div>
      <div class="daily-tip">
        <app-daily-tip></app-daily-tip>
      </div>
    </div>
  </div>
  <div>
    <app-recipes-favorite></app-recipes-favorite>
  </div>
  <div class="slide-show">
    <app-advert-banner></app-advert-banner>
  </div>
</div>