<div class="main-container center-col" *ngIf="!isFeedPageContentLoading">
  <div>
    <app-recipes-search-box-by-ingredients></app-recipes-search-box-by-ingredients>
  </div>
  <div class="homepage-row center-col">
    <div class="ingredients-container">
      <app-ingredients-list [ingredientList]="ingredientList"></app-ingredients-list>
    </div>
    <div class="wide-container tip-featured">
      <div>
        <app-featured-meal></app-featured-meal>
      </div>
      <div>
        <app-daily-tip></app-daily-tip>
      </div>
    </div>
  </div>
  <div>
    <app-recipes-favorite></app-recipes-favorite>
  </div>
  <div class="slide-show">
    <app-advert-banner></app-advert-banner>
  </div>
</div>

<div class="spinner" *ngIf="isFeedPageContentLoading">
  <mat-spinner diameter="50"></mat-spinner>
</div>  

