.recipes {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    text-align: center;
}

.container-title {
    padding: 20px 0px 0px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
    
.text {
    color: #49454F;
}

@media screen and (min-width: 768px) {
    .recipes {
        gap: 3vw;
    }
}