.recipes {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;
}

.container-title {
    padding: 20px 0px 20px 0px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .recipes {
        gap: 3vw;
    }
}