.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fcfcfc;
    padding: 10px 15px 20px 15px;
}

.container:hover {
    transform: scale(1.02);
    transition-duration: 0.2s;
    box-shadow: 0px 1px 2px 0px #3a7575, 0px 1px 8px 1px #3a7575;
}

.row:hover {
    cursor: pointer;
}

.container-title {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.text {
    color: #49454F;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.text-color {
    color: #49454F;
}

.img-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 200px;
    height: 170px;
    opacity: 0.949999988079071;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.116), 0px 6px 10px 4px rgba(0, 0, 0, 0.116);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    cursor: pointer;
}

.time-amount {
    margin-bottom: 7px;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #5a7ea7c7;
}

@media screen and (min-width: 480px) {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: normal;
    }
}
