<div class="container def-container text">
    <div class="container-title">
        <span class="title">Featured meal of the day</span>
    </div>
    <div *ngIf="!isLoading" class="content" (click)="onRecipeCardClick()">
        <div class="img-cont">
            <img *ngIf="!hasImage" src="/assets/images/comfort_food_placeholder.png">
            <img *ngIf="hasImage" [src]="recipe.imageUrl">
        </div>
        <div>
            <div>
                <h2><strong>{{recipe.name}}</strong></h2>
            </div>
            <div class="time-amount">
                <div>
                    <span>Preparation time: <strong>{{preparationTime}}</strong></span>
                </div>
                <div>
                    <span>Ingredients needed: <strong>{{ingredientsAmount}}</strong></span>
                </div>
            </div>
            <div>
                <span>Description: </span>
                <span *ngIf="recipe.description === null" ><strong>There is currently no description for the recipe.</strong></span>
                <span *ngIf="recipe.description != null"><strong>{{recipe.description}}</strong></span>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading">
        <mat-spinner diameter="30" style="margin:0 auto;"></mat-spinner>
    </div>
</div>