h1 {
    text-align: center;
    padding: 24px 24px 0px 24px;
    letter-spacing: .2rem;
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: 95px;
    opacity : 0.85;
    padding: 0px;
}

.form-buttons {
    padding: 24px;
}

.cancel-button {
    background-color: #CABF58;
    border-radius: 100px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.save-button {
    background-color: #50A4A4;
    border-radius: 100px;
    color: #FFFFFF;
    margin-bottom: 20px;
}   

.cancel-button, .save-button {
    height: 45px;
    width: 90px;
}

mat-form-field, table {
    width: 100%;
}   