.center-in-row {
    justify-content: center;
}

.container {
    width: 95vw;
}

.content-width, .inputs, .form-group {
    width: 80%;
}

.wide {
    width: 100%;
}

.inputs {
    padding-bottom: 20px;
}

.stepper-container {
    padding: 5px;
    width: inherit;
}

h3 {
    letter-spacing: 0.1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    padding-top: 20px;
    display: flex;
    gap: 1vw;
}

button {
    background-color: #50A4A4;
    border-radius: 100px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

button.remove {
    background-color: #ca5858;
}

button.add {
    background-color: #5077a4;
}

svg {
    height: 35px;
}

svg.hidden {
    fill: white;
}

svg.remove {
    fill: #ca5858;
}

.td-buttons-small {
    padding-bottom: 35px;
}

.td-buttons {
    padding-bottom: 16px;
    transition: all 0.2s ease-out;
}

.td-buttons:hover {
    transform: scale(1.15);
    cursor: pointer;
}

@media screen and (min-width: 672px) {
    .container {
        width: 75vw;
    }

    .stepper-container {
        padding: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 990px) {
    .container {
        width: 70vw;
    }

    .ing-input-container, .ing-wide {
        flex-direction: row;
    }

    .ing-wide {
        gap: 10px;
    }

    .form-group {
        width: auto;
    }
}