.center-in-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 20px;
}

.preparation-step-input {
    width: 450px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.adding-ingredient {
    display: flex;
}

.container {
    width: 95vw;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stepper-container {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: inherit;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepper-button {
    display: flex;
    flex-direction: row;
}


button {
    background-color: #50A4A4;
    border-radius: 100px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

button.remove {
    background-color: #ca5858;
}

button.add {
    background-color: #5077a4;
}

h3 {
    letter-spacing: 0.1rem;
}

.buttons-container {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

svg {
    fill: white;
    height: 35px;
}

.remove {
    fill: #ca5858;
    height: 35px;
}

.td-buttons {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-out;
}

.td-buttons:hover {
    transform: scale(1.15);
    fill: #a13434;
}

@media screen and (min-width: 672px) {
    .container {
        width: 75vw;
    }
}

@media screen and (min-width: 990px) {
    .container {
        width: 70vw;
    }
}