<div class="container">
    <div>
        <div class="container-title">
            <span>Ingredients List</span>
        </div>
        <div *ngFor="let ingredient of ingredientList">
            <app-ingredient-item [ingredient]="ingredient"></app-ingredient-item>
        </div>
    </div>
    <div class="buttons-container center">
        <div class="center">
            <button mat-raised-button (click)="openDialog()">
                Add Ingredient
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <div class="center">
            <button mat-raised-button color="secondary">Generate Recipe <mat-icon>change_circle</mat-icon></button>
        </div>
    </div>
</div>
