.container {
    height: 100%;
    background-color: #fcfcfc;
    padding: 15px;
}

.title-svg {
    justify-content: space-between;
    margin-right: 40px;
    align-items: center;
    margin-bottom: 15px;
}

.title {
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.tip-text {
    line-height: 1.5;
    letter-spacing: 2px;
}