.center-in-row {
    justify-content: center;
    align-items: center;
}

.container {
    width: 40vw;
    min-width: 300px;
}

.title {
    padding: 20px;
    text-align: left;
}

.box {
    padding-bottom: 40px;
}

.text {
    color: white;
}

.inputs {
    width: 100%;
}