<div class="center-in-row flex-row width">
    <div class="container box-shadow width flex-col center">
        <div class="title">
            <span>
                LOGIN
            </span>
        </div>
        <div>
            <span>
                Email
            </span>
            <div class="inputs">
                <mat-form-field appearance="outline">
                  <mat-label>Input email<address></address></mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>
                Password
            </span>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Outline form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>
        </div>
        <div>
            <p>
                Remember me?
            </p>
        </div>
        <div>
            <button>
                LOGIN
            </button>
            <p>Forgo password?</p>
        </div>

        <hr>
        <p>Need an account? <u>SIGN UP</u> </p>
    </div>
</div>