.nav-bar-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.overlay-menu-container {
    padding-top: 30px;
    overflow: overlay;
    height: 100%;
    background-color: white;
    z-index: 99;
}

@media screen and (min-width: 768px) {
    .nav-bar-container {
        padding-bottom: 25px;
        height: 100px;
    }
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    height: 80px;
}

.title-links {
    margin-left: 20px;
    gap: 25px;
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 1.5rem;
}

.center-content {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.menu-link {
    display: flex;
    flex-direction: row;
    gap: 5px;
    transition: border-width 0.2s linear;
}

.app-title {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #3a7575;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 50px;
}

.app-title-menu {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #3a7575;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 0px;
}


button {
    background-color: #3a7575;
    border-radius: 100px;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
}

.user {
    margin-right: 40px;
    fill: #3a7575;
    gap: 15px;
}

.user-icon {
    height: 90px;
}

.menu-icon {
    transform: scale(1.5);
    cursor: pointer;
    color: #3a7575;
}

.close-icon {
    margin-right: 3vw;
}

a {
    color: #49454F;
    text-decoration: underline 0.08em rgba(0, 0, 0, 0);
    transition: text-decoration-color 400ms;
    text-underline-offset: 0.2em;
}
  
a:hover {
    text-decoration-color:  #49454F;
}