.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

button {
    background-color: #50A4A4;
    border-radius: 100px;
    color: #FFFFFF;
    height: 50px;
}

.mobile-buttons {
    display: flex;
    justify-content: space-around;
}

.wide-screen-buttons {
    display: none;
}

@media screen and (min-width: 768px) {
    button {
        height: 130px;
    }

    .container {
        align-items: center;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 20px;
        gap: 2vw;
    }

    .icon {
        transform: scale(1.5);
    }

    .wide-screen-buttons {
        display: block;
    }

    .mobile-buttons {
        display: none;
    }
}