.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

button {
    background-color: white;
    border-radius: 100px;
    color: #3a7575;
    height: 50px;
}

.mobile-buttons {
    display: flex;
    justify-content: space-around;
}

.wide-screen-buttons {
    display: none;
}

.buttons-container {
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.buttons-container > button {
    width: 100%;
}

@media screen and (min-width: 990px) {
    button {
        height: 130px;
        width: 30px;
    }

    .container {
        align-items: center;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 5px;
        gap: 8px;
    }

    .icon {
        transform: scale(1.5);
    }

    .wide-screen-buttons {
        display: block;
    }

    .mobile-buttons {
        display: none;
    }
}