<div class="container" *ngIf="recipesFound.length != 0">
    <button class="wide-screen-buttons" (click)="lowerIndex()" mat-raised-button color="secondary"><mat-icon class="icon">chevron_left</mat-icon></button>
    <app-recipe-item-card *ngFor="let recipe of recipesToShow" [recipe]="recipe"></app-recipe-item-card>
    <button class="wide-screen-buttons" (click)="increaseIndex()" mat-raised-button color="secondary"><mat-icon class="icon">chevron_right</mat-icon></button>
    <div class="mobile-buttons buttons-container flex-row">
        <button (click)="lowerIndex()" mat-raised-button color="secondary"><mat-icon class="icon">chevron_left</mat-icon></button>
        <button (click)="increaseIndex()" mat-raised-button color="secondary"><mat-icon class="icon">chevron_right</mat-icon></button>
    </div>
</div>

<div class="container" *ngIf="recipesFound.length === 0">
    <h1>We couldn't find any recipes!</h1>
</div>