* {
  
}

.example-form {
    min-width: 350px;
    max-width: 400px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.main-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 400px;
}

button {
  background-color: #50A4A4;
  border-radius: 100px;
  color: #FFFFFF;
}

.ingredients-recipes {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.content-container {
  height: 440px;
  width: 405px;
  background-color: #FEF7FF;
  border: 1px solid #d1d1d1;
  border-radius: 16px;
}

.app-title {
  position: absolute;
  width: 378px;
  height: 100px;
  left: 0px;
  top: 0px;

  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(74, 151, 142, 0.96);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-row {
  display: flex;
  flex-direction: row;
}