<div class="main-container">
  <div class="homepage-row">
    <div class="content-container">
      <app-ingredient-list-view [ingredientList]="ingredientList"></app-ingredient-list-view>
    </div>
    <div class="content-container featured">
      <div class="featured">
        <app-featured-meal></app-featured-meal>
      </div>
      <div>

      </div>
    </div>
  </div>
  <div>
    <app-recipes-favorite></app-recipes-favorite>
  </div>
  <div class="slide-show">
    <app-images-slide-show></app-images-slide-show>
  </div>
</div>