<div class="container">
    <div>
        <div class="content">
            <span>{{ingredient.name}}</span>
        </div>
        <div class="amount">
            <span>{{ingredient.amount}} kg</span>
        </div>
    </div>
    <div class="buttons">
        <button mat-raised-button class="button" (click)="openIngrdientModifier()">
            <mat-icon mat-raised-button>mode_edit</mat-icon>
        </button>
        <button mat-raised-button class="button" (click)="openDialog()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>