.container {
    padding: 0px 25px 0px 25px;
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.content {
    color: #1D1B20;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.amount {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #49454F;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button {
    height: 40px;
    width: 40px;
    background: #ECE6F0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.575);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #50A4A4;
}